#include "../../config/project-metadata.xcconfig"

TEAM_ID=

PRODUCT_NAME=$(BAMBUDDY_PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER=$(BAMBUDDY_PACKAGE_NAME).$(BAMBUDDY_PRODUCT_NAME)$(TEAM_ID)

CURRENT_PROJECT_VERSION=$(BAMBUDDY_VERSION_CODE)
MARKETING_VERSION=$(BAMBUDDY_VERSION_NAME)
IPHONEOS_DEPLOYMENT_TARGET=$(BAMBUDDY_IOS_DEPLOYMENT_TARGET)
